
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Parlour a Beauty and Spa Category Responsive Web Template | Home :: W3layouts</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static '/site/assets/css/style-starter.css' %}">

  </head>
  <style>
      .ser{
          -webkit-box-shadow: 3px 3px 5px 5px #BABABA;
box-shadow: 3px 3px 5px 5px #BABABA;
padding:15px;
-webkit-border-radius: 50px 0 50px 0;
border-radius: 50px 0 50px 0;
margin-bottom:20px;
      }
      .ser img{
          -webkit-border-radius: 50px 0 50px 0;
border-radius: 50px 0 50px 0;
      }
  </style>
  <body id="home">

<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <h1><a class="navbar-brand" href="index.html"> <!--<span class="fa fa-line-chart" aria-hidden="true"></span> -->
            Urban Rose
            </a></h1>
            <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa icon-expand fa-bars"></span>
				<span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                </ul>
                <!--  <form action="#" method="post">-->
                <!--    <div class="search-button d-flex">-->
                <!--    <input class="form-control search" type="search" placeholder="Search here..." aria-label="Search" required="">-->
                <!--    <button class="btn buttn-subscribe" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>-->
                <!--</div>-->
                <!--</form>-->
            </div>
        </div>

        </nav>
    </div>
      </header>
</section>

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<div class="w3l-hero-headers-9">
  <div class="css-slider">
    <input id="slide-1" type="radio" name="slides" checked>
    <section class="slide slide-one">
      <div class="container">
        <div class="banner-text">
          <h4>Glow At Home</h4>
          <h3>Essence<br>
            Of Natural Beauty</h3>
            <p>Beauty comes from inside, inside the beauty salon.</p>
            <a href="/contact/" class="btn logo-button top-margin">Get An Appointment</a>
        </div>
      </div>
      <!-- <nav>
        <label for="slide-2" class="prev">&#10094;</label>
        <label for="slide-1" class="next">&#10095;</label>
      </nav> -->
    </section>
    <input id="slide-2" type="radio" name="slides">
    <section class="slide slide-two">
      <div class="container">
        <div class="banner-text">
          <h4>Glow At Home</h4>
          <h3>Essence<br>
            Of Natural Beauty</h3>
          <p>Avoid the hustle of visiting salons. Get affordable and hygienic men and women beauty parlour services at home near me with Urban Rose.From hair styling, to facial skin care, to body massage, manicures, pedicures and more, we are your all-in-one resource for a beautiful new you come and experience it today!</p>
          <a href="/contact/" class="btn logo-button top-margin">Get An Appointment</a>
        </div>
      </div>
      <!-- <nav>
        <label for="slide-2" class="prev">&#10094;</label>
        <label for="slide-1" class="next">&#10095;</label>
      </nav> -->
    </section>
    <header>
      <label for="slide-1" id="slide-1"></label>
      <label for="slide-2" id="slide-2"></label>
    </header>
  </div>
</div>


<section class="w3l-clients">
    <div class="main-w3">
        <div class="container">
            <!-- main-slider -->
            <div class="main-slider text-center">
                <div class="csslider infinity" id="slider1">
                    <input type="radio" name="slide" checked="checked" id="slides_1" />
                    <input type="radio" name="slide" id="slides_2" />
                    <input type="radio" name="slide" id="slides_3" />
                    <ul>
                        <li>
                            <div class="slider-info">
                                <div class="d-grid hh14-text">
                                    <div class="hh14-info">
                                        <img src="{% static 'site/assets/images/c1.jpg' %}" alt="product" class="img-responsive ">

                                            <p class="para">It is dream of every person to look beautiful and gorgeous on each and every occasion she attends. However, just like a garden, beauty needs maintenance and care, that can be best provided by a professional. Going to a beauty salon can provide many benefits that one simply cannot receive at home.</p>

                                      <h5>Tamanna</h5>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="slider-info">
                                <div class="d-grid hh14-text">
                                    <div class="hh14-info">
                                        <img src="{% static 'site/assets/images/c2.jpg' %}" alt="product" class="img-responsive ">
                                        <p class="para">As a licensed hairstylist for over 8 years, I am excited to bring my bubbly personality to The Salon California. Growing up by the ocean influenced my passion for color and love for beach blondes. </p>
                                            <h5>Smith</h5></h5>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slider-info">
                                <div class="d-grid hh14-text">
                                    <div class="hh14-info">
                                        <img src="{% static 'site/assets/images/c3.jpg' %}" alt="product" class="img-responsive ">
                                        <p class="para">She grounds her skin treatments in relaxation and therapeutic facial massage while bringing a whole body approach to skincare and prides herself on creating results driven therapy specifically catered to each individual’s skin needs.</p>
                                            <h5>Martha</h5>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="arrows">
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                        <label for="slides_4"></label>
                    </div> -->
                    <div class="navigation">
                        <div>
                            <label for="slides_1"></label>
                            <label for="slides_2"></label>
                            <label for="slides_3"></label>
                        </div>
                </div>
            </div>
            <!-- /main-slider -->
        </div>
    </div>
</section>

<section class="w3l-specification-6">
    <div class="specification-layout ">
        <div class="container">
            <div class=" row">
                <div class="col-lg-6 back-image">
                    <img src="{% static 'b1.jpg' %}" alt="product" class="img-responsive ">
                </div>
                <div class="col-lg-6 about-right-faq align-self">
                    <h3 class="title-big"><a href="/about/">Clean and Recommended Hair Salon</a></h3>
                    <p class="mt-3 para"> We offer a complete range of beauty services to fit your needs. From hair styling, to facial skin care, to body massage, manicures, pedicures and more, we are your all-in-one resource for a beautiful new you come and experience it today.</p>
                        <div class="hair-cut">
                            <div >
                    <ul class="w3l-right-book">
                        <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Hair cut with Blow dry</a></li>
                        <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Color & highlights</a></li>
                        <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Shampoo & Set</a></li>
                        <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Blow Dry & Curl</a></li>
                        <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Advance Hair Color</a></li>
                    </ul>
                </div>
                    <div  class="image-right">
                        <ul class="w3l-right-book">
                            <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Back Massage</a></li>
                            <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Hair Treatment</a></li>
                            <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Face Massage</a></li>
                            <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Skin Care</a></li>
                            <li><span class="fa fa-check" aria-hidden="true"></span><a href="/about/">Body Therapies</a></li>
                        </ul>
                </div>
            </div>
        </div>
</section>
<section class="w3l-recent-work-hobbies" id="services">
    <div class="recent-work ">
        <div class="container">
            <div class="row about-about">

                  {% for x in services %}

                <div class="col-lg-3 col-md-3 col-sm-6 propClone">
                    <div class="ser">
                 <img src="{% static '/serv-img' %}/{{x.4}}" alt="product" style="height:200px; width:100%"  class="img-responsive about-me">
                    <div class="about-grids ">
                        <h5><a href="" class="">{{x.1}}</a></h5>
                        <!--<h5><a href="" class="">Rs: {{x.2}}</a></h5>-->

                           <button class="btn btn-success" data-toggle="modal" data-target="#myModal{{x.0}}">Details</button>
                           <button class="btn btn-primary" data-toggle="modal" data-target="#bm{{x.0}}">Book Now</button>
                    </div>
                </div>
                </div>


                <div class="modal" id="bm{{x.0}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{x.1}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <form  action="/book_service/" method="post">
<input type="hidden" name="service" value="{{x.1}}" class="form-control" >
        <p>Name</p>
        <p><input type="text" name="name" class="form-control" ></p>
        <p>Email</p>
        <p><input type="text" name="email" class="form-control" ></p>
        <p>Telephone</p>
        <p><input type="tel" name="telephone" class="form-control"></p>
        <p>Address</p>
        <p><textarea name="address" id="address" cols="30" rows="10" class="form-control"></textarea></p>


        <p><input type="submit" name="submit" class="btn btn-success" value="Submit"></p>
</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



                <div class="modal" id="myModal{{x.0}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{x.1}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       {{x.3 | safe}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
                 {% endfor %}


            </div>
        </div>
    </div>
</section>

<section class="w3l-footer-29-main">
	<div class="footer-29 py-5">
	  <div class="container py-lg-4">
		<div class="row footer-top-29">
		  <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
			<h6 class="footer-title-29">Contact Us</h6>
			<ul>
			  <li>
				<span class="fa fa-map-marker"></span> <p>Kolkata, Serampore,<br>712248 West Bengal,


					India.</p>
			  </li>
			  <li><span class="fa fa-phone"></span><a href="tel:+8240-222-811"> +(91)-8240-222-811</a></li>
			  <li><span class="fa fa-envelope-open-o"></span><a href="chandniparlour@mail.com" class="mail">
				  chandniparlour@mail.com</a></li>
			</ul>
		  </div>
		  <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 ">

			<ul>
			  <h6 class="footer-title-29">Useful Links</h6>
			  <li><a href="index.html">Home</a></li>
			  <li><a href="/about/">About</a></li>
			  <li><a href="/contact/">Contact us</a></li>
			</ul>
		  </div>
		  <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3">
			  <h6 class="footer-title-29">Latest from blog</h6>
			  <div class="footer-post mb-3">
				<a href="blog-single.html">Hair Salon</a>
				<p class="small"><span class="fa fa-clock-o"></span> April 25, 2023</p>
			  </div>
			  <div class="footer-post">
				<a href="blog-single.html">Skin Care
					and FaceMasks</a>
				<p class="small"><span class="fa fa-clock-o"></span>  June 9, 2023</p>
			  </div>

		  </div>
		  <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4">
			<h6 class="footer-title-29">Newsletter </h6>
			<p>Enter your email and receive the latest news from us.
			 We'll never share your email address</p>

			<form action="#" class="subscribe" method="post">
			  <input type="email" name="email" placeholder="Your Email Address" required="">
			  <button><span class="fa fa-envelope-o"></span></button>
			</form>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <section class="w3l-footer-29-main w3l-copyright">
	<div class="container">
	  <div class="row bottom-copies">
		<p class="col-lg-8 copy-footer-29">© 2023  Chandniparlour. All rights reserved | Designed by Chandni</p>

		<div class="col-lg-4 main-social-footer-29">
		  <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
		  <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
		  <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
		  <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
		</div>

	  </div>
	</div>
  </section>
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
